@page {
    size: a4 portrait;
    margin: 10mm 10mm 10mm 10mm;
    counter-increment: page;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10pt;
    white-space: pre;
    color: grey;
    @bottom-center {
        content: 'Page ' counter(page);
    }
}

@page :left {
    @top-left {
        content: string(chapter);
    }
    @top-right {
        content: '© 2018-2020 Inha/InVisu, Persée, ENSG';
    }
}

@page :right {
    @top-right {
        content: string(chapter);
    }
    @top-left {
        content: '© 2018-2020 Inha/InVisu, Persée, ENSG';
    }
}

