[Unit]
Description=Monitor ~{{ targetUser }}/app (see collexperseeapp.service)

[Path]
PathExistsGlob=/home/{{ targetUser }}/app/flask-collex-persee-*.tgz
PathChanged=/home/{{ targetUser }}/app/
Unit=collexperseeapp.service

[Install]
WantedBy=multi-user.target

