[Unit]
Description=Move application to target when ~{{ targetUser }}/app is changed (see collexperseeapp.path)

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/home/{{ targetUser }}/bin/deployapp.sh
Restart=no

[Install]
WantedBy=multi-user.target

