[Unit]
Description=Move documentation to target when ~{{ targetUser }}/docs is changed (see collexperseedoc.path)

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/home/{{ targetUser }}/bin/deploydoc.sh
Restart=no

[Install]
WantedBy=multi-user.target

