[Unit]
Description=Monitor ~{{ targetUser }}/docs (see collexperseedoc.service)

[Path]
PathExistsGlob=/home/{{ targetUser }}/docs/htmlsite-collex-persee-*.tgz
PathChanged=/home/{{ targetUser }}/docs/
Unit=collexperseedoc.service

[Install]
WantedBy=multi-user.target

